.container {
   display: flex;
   justify-content: space-between;
   padding: 20px 40px;
   background-color: #8d99ae;
   top: 0;
   left: 0;
   position: sticky;
   z-index: 1000;
}

.logo {
   text-decoration: none;
   font-weight: 500;
   font-size: 22px;
   font-style: italic;
   color: #2b2d42;
   transition: transform 250ms ease-in-out;
}

.logo:hover,
.logo:focus {
   transform: translateY(-5px);
}